@charset "UTF-8";

#allRestaurantTable { width: 80%; margin: 20px auto; }
#allRestaurantTable #searchRestaurantInput { width: 100%; text-align: right; }

#allRestaurantTable .searchTd { width: 15%; }
#allRestaurantTable .searchTd button:hover { cursor: pointer; }
#allRestaurantTable .searchButtonTd { width: 5%; text-align: center; font-family: 'GodoB'; font-size: 15pt; }
#allRestaurantTable .searchButtonTd a:hover { color: #6773ad; font-size: 16pt; }

#allRestaurantTable .allRestaurantDetail { position: relative; width: 15%; height: 100%; display: inline-block; margin: 15px 3px; }
#allRestaurantTable .allRestaurantDetail a:hover span { color: #dee1f0; }
#allRestaurantTable .allRestaurantDetail a:hover span strong { color: #dee1f0; }
#allRestaurantTable .allRestaurantDetail img { width: 100%; height: 130px; }
#allRestaurantTable .allRestaurantDetail span { display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%; font-size: 10pt; color: gray; }
#allRestaurantTable .allRestaurantDetail span strong { font-size: 12pt; margin: 5px 0; color: black; }

#restaurantInfoTable { width: 80%; margin: 50px auto; }
#restaurantInfoTable #map { width: 40%; }
#restaurantInfoTable #map img { width: 100%; height: 100%; }
#restaurantInfoTable #detail { width: 60%; }
#restaurantInfoTable #detail table { width: 100%; }
#restaurantInfoTable #detail table #restaurantImg img { width: 100%; height: 100%; max-width: 700%; max-height: 700px; }
#restaurantInfoTable #detail table #restaurantInfo { width: 70%; }
#restaurantInfoTable #detail table #back { width: 30%; }

#restaurantImg{	padding-top: 10px; padding-bottom: 10px; }
#restaurantName{ font-family:GodoB; padding:10px; font-size: 24pt; color: #3b498f;}
#restaurantPlace{ padding: 10px;}
.deco2{	width: 30%;}
.deco2 img{width: 70%; float: center;}
#restaurantPlace{ font-size: 15pt; }
#back{ font-family: 'MaruburiBold'; font-size: 15pt; }
#back hover{ color:gray; }
.searchButtonTd a:hover{ color: #6773ad; }
