@charset "UTF-8";

#CaMainTable { height: 300px; width: 60%; margin: 0 auto; }


#Cal_divTable { height: 300px; width: 60%; margin: 0 auto; }
#Cal_divResultTable { height: 300px; width: 60%; margin: 0 auto; }


#Cal_oneTable { height: 300px; width: 60%; margin: 0 auto; }
