@charset "UTF-8";

#CalMainTable { height: 200px; width: 60%; margin: 15px auto; }
#CalMainTable tr td#divC { width:50%; }
#CalMainTable tr td#divC span { background: url("img/icon/엔빵.jpg"); }
#CalMainTable tr td#oneC { width:50%; }

