@charset "UTF-8";

/*font*/
@font-face{
	src: url('../font/CookieRunBold.otf');
    font-family: 'CookieRunBold'; 
}
@font-face{
	src: url('../font/MaruBuri-Bold.otf');
    font-family: 'MaruburiBold'; 
}
@font-face{
	src: url('../font/MaruBuri-Regular.otf');
    font-family: 'Maruburi'; 
}

/* reset */
body { margin: 0; padding: 0; background: white;  font-family: 'CookieRunBold'; text-align: center; }
a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: gray; }

/* layout */
#wrapTable { height:1765px; width:100%; text-align: center; }
#header { height: 380px; width:100%; }
#headerLogin { height: 60px; width: 90%; text-align: right; margin: 0 auto; }
#loginBackground { background: black; width:10000px; }
#header a:hover { color: black;}
#header #headerLogo { width: 100%; text-align: center; }
#header #headerTitle { width: 33.333%; font-size: 35pt; }
#header #headerLogin { width: 33.333%; margin-right: 1%; }
/* header */

#nav { height: 60px; width: 70%; margin: 0 auto; }
#nav div { width: 15%; float: left; line-height: 80px; text-align: center; }
#nav .navMenus { height: 65px; margin: 0 5%; font-size: 20pt; }
#nav .navMenus a { color: black; font-family: 'MaruburiBold'; }
#nav .navMenus a { font-family: 'MaruburiBold'; }
.navMenus {position: relative; text-decoration: none; }
.navMenus::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  -webkit-transform: scaleX(.3);
  transform: scaleX(.3);
  opacity: 0;
  transition: all .3s
}
.navMenus:hover::before{
  opacity: 1;
  background-color: #dee1f0;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
  transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}
/* nav */

#slideTable { height: 260px; width:85%; margin:0 auto; padding-top: 30px;}
/* slide */

#contentTitle { height: 60px; width: 85%; margin: 0 auto; padding-bottom: 10px;}
#contentTitle #story { text-align: center; font-size: 23pt;  vertical-align: bottom;  font-family: 'MaruburiBold'; color: black; }
#contentTitle .deco{height: 30px; width: 20%; align: center;}

#content { height: 1000px; width: 85%; margin: 0 auto; padding-bottom: 30px;}
#content .contentsArray { width: 33.333%; }
#content .contents { height: 100%; width: 100%; }
#content .contents .contentTitle { width: 70%; text-align: left;}
#content .contents .moveContent { width: 30%; text-align: right; } 
#content .contents .imageTable { overflow: hidden; } 
#content .contents .contentsImg { width:100%;  }
.contentsImg img{ width:100%;  margin: 0px auto; transform: scale(1.0); transition:transform .5s;}
.contentsImg:hover{ transform: scale(1.5); transition: transform .5s; }
#content .contents .contentsTitle { height:100%; }
#content .contents .contentsTitle a{ font-family: 'MaruburiBold'; font-size: 16pt; padding-top: 20px; padding-bottom: 20px;}
#content .contents .contentsDetail { height:30%; font-family: 'Maruburi'; padding-top: 20px; padding-bottom: 20px;}
/* content */

#footer { height: 100px; width:90%; margin:0 auto; text-align: center; color: white; }
#footer td { width: 300px; }
#footer #footerDetail { text-align : left; }
#footer .team .teamImg img { width: 100px; height: 100px; }
#footer .team .teamDetail { width: 200px; padding-top: 10px; color: white; }
#footerBackground { background:  black; text-align: center; }
/* footer */